.infoUserContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  
  width: 100%;
  gap: 0.625rem;
  
  padding: 2.2188rem 0.75rem;
  
  border-top: 1px solid var(--color-grey-3);
  border-bottom: 1px solid var(--color-grey-3);

  @media (min-width: 410px) {
    flex-direction: row;
    align-items: first baseline;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
  
  width: 100%;
  margin-top: 1.5rem;
  padding-inline: 0.75rem;
}

.headerContainer {
  display: flex;
  flex-direction: row;    
  justify-content: space-between;
  align-items: center;
  
  min-width: 250px;
  width: 100%;
  margin: 2.375rem 0 2rem 0;
  padding-left: 0.75rem;
}
